.content-student-links{
	height: 600px;
	background-color: #EEF9DA;
}

.content-student-links a{
	display: inline-block;
	width: 300px;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#78a22f;
	text-transform: uppercase;
}

.content-student-links a:hover{
	color: #fff;
	background-color: #8CAC89;
}

.two-third-box{
	max-width: 880px;
	height: 700px;
	margin-left: 320px;
}

.volunteer-title{
	margin-top: 120px;
	margin-left: 20px;
}

.volunteer-content{
	margin-left: 20px;
}


#formSection{
	text-align: center;
}

div #volunteer{
	width:1190;
}
